
<nav id="toolbar" class="navbar sticky-top navbar-expand-lg bg-body-tertiary px-2">
	<div class="container-fluid">
		{% block breadcrumbs %}
		{% endblock %}

		<div class="d-flex align-items-center">
			{% if app.user.email is defined %}
			<span class="px-3">
				{{ 'Welcome'|trans({},'core') }}: {{ app.user.email }}
			</span>
			{% endif %}
			<div class="vr"></div>
			<div {{ react_component('ThemeController') }}></div>
		</div>
	</div>
</nav>
