{% extends 'base.html.twig' %}

{% block title %}{{ 'New dataset'|trans({},'core') }}{% endblock %}

{% block content %}
	<h1>{{ 'New dataset'|trans({},'core') }}</h1>
	{{ form(form) }}
{% endblock %}
