{% extends 'base.html.twig' %}

{% block title %}Edit Step{% endblock %}

{% block body %}
	<h1>Edit Step</h1>

	<div class="alert alert-danger" role="alert">
		This will edit this step for all flows!
	</div>

	{{ form(form) }}
{% endblock %}
