###> syncengine ###
/blueprints/*
/modules/*
/translations/modules/*
/translations/override/*
/tests/_local/
###< syncengine ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*
/config/secrets/prod/prod.decrypt.private.php
/config/secrets/
/public/bundles/
/var/
/vendor/
/migrations/
###< symfony/framework-bundle ###

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# ignore node dependency directories
node_modules/

# PhpStorm project
.idea

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore local ini
php.ini
.user.ini

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
#/public/build/
/public/.local/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
