
:root {
	--menu-width: 220px;
	--menu-width-collapsed: 60px;
}

#main, #menu {
	transition: $transition-base;
}

#menu {
	width: var(--menu-width);
	position: fixed;
	height: 100vh;
	z-index: $zindex-fixed; /* Above sticky toolbar */
}
#menu.collapsed {
	width: var(--menu-width-collapsed);
}
#main.menu-expanded {
	padding-left: var(--menu-width);
}
#main.menu-collapsed {
	padding-left: var(--menu-width-collapsed);
}
