{% extends 'index.html.twig' %}

{% set header = 'Login'|trans %}

{% block content %}
	{{ parent() }}
	{% include '_partials/login.html.twig' %}
	<hr>
	<small><a href="{{ url( 'reset_password_request') }}">{{ 'Forgot password?'|trans }}</a></small>
{% endblock %}
