{% extends 'admin/index.html.twig' %}

{% block content %}

	<div class="d-flex flex-column gap-4">

	{% include 'admin/trace/_partials/list-entities.html.twig' with traces|merge( {
		header: {
			icon: 'trace',
			title: 'Last runs'|trans,
			actions: [],
		},
	} ) %}

	{% include 'admin/messenger/_partials/list-entities.html.twig' with messenger|merge({
		header: {
			icon: 'message',
			title: 'Messenger Queue'|trans,
			actions: [],
		},
	}) %}

	</div>


{% endblock %}
