{% extends 'admin/index.html.twig' %}

{% block content %}

	<div class="d-flex flex-column gap-4">

	{% include 'admin/trace/_partials/list-entities.html.twig' with traces|merge( {
		id: 'runtime_history',
		header: {
			icon: 'trace',
			title: 'Last runs'|trans,
			actions: [],
		},
	} ) %}

	{% include 'admin/messenger/_partials/list-entities.html.twig' with messenger|merge({
		id: 'runtime_scheduled',
		header: {
			icon: 'queue',
			title: 'Scheduled runs'|trans,
			actions: [],
		},
	}) %}

	</div>


{% endblock %}
