{% extends 'base.html.twig' %}

{% block title %}Connector Admin{% endblock %}

{% block body %}

    <div>

    </div>
    {% block menu %}
        <div>

        </div>
    {% endblock %}

    {% block main %}
        <div id="app" data-controller="admin"></div>
    {% endblock %}

{% endblock %}
