{% extends 'base.html.twig' %}

{% block title %}Connector Admin{% endblock %}

{% block body %}

    <div class="d-flex h-100 bg-body-tertiary">

        {% include '_partials/menu.twig' %}

        <div id="main" class="flex-grow-1 bg-body">
            <script>
	            document.getElementById('main').classList.add( 1 == localStorage.getItem('menu-collapsed') ? 'menu-collapsed' : 'menu-expanded' )
            </script>

            {% include '_partials/toolbar.twig' %}

            <div id="content" class="container my-4">

                {% for message in app.flashes('warning') %}
                    <div class="alert alert-warning">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {% block content %}{% endblock %}

            </div>
        </div>
    </div>

{% endblock %}
