{% extends 'admin/index.html.twig' %}

{% block content %}
	<div class="alert alert-danger" role="alert">
		{{ 'This will edit this routine for all flows!'|trans }}
	</div>
	{{ parent() }}
{% endblock %}
