<div {{ react_component('ListController', {
	args: {
		total: total ?? null,
		items: items ?? null,
		query: query ?? null,
		type: type,
		columns: columns ?? {},
		header: header ?? {},
		footer: footer ?? {}
	}
} ) }}></div>
