<div {{ react_component('MenuController', {
	currentPath: currentPath,
	rootPath: path('syncengine_admin_index'),
	groups: groups,
	items: items,
	className: "shadow-lg d-flex flex-column border-end border-secondary border-opacity-10 bg-body vh-100 position-fixed"
}) }}>
	<div id="menu" class="shadow-lg d-flex overflow-hidden flex-column bg-body loading"></div>
</div>
