
<div {{ react_component('MenuController', {
    currentPath: path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')),
    items: [
        {
            title: 'Dashboard'|trans({},'core'),
            icon: 'bi bi-speedometer2',
            link: path('app_index'),
        },
        'separator',
        {
            title: 'Connections'|trans({},'core'),
            icon: 'bi bi-cloud',
            link: path('list_connections'),
            variant: 'connection',
        },
        {
            title: 'Automations'|trans({},'core'),
            icon: 'bi bi-diagram-3',
            link: path('list_automations'),
            variant: 'automation',
        },
        {
            title: 'Flows'|trans({},'core'),
            icon: 'bi bi-command',
            link: path('list_flows'),
            variant: 'flow',
        },
        {
            title: 'Steps'|trans({},'core'),
            icon: 'bi bi-collection',
            link: path('list_steps'),
            variant: 'step',
        },
        {
            title: 'Datasets'|trans({},'core'),
            icon: 'bi bi-database',
            link: path('list_datasets'),
            variant: 'dataset',
        },
        'separator',
        {
            title: 'Modules'|trans({},'core'),
            icon: 'bi bi-plugin',
            link: path('modules'),
        },
        {
            title: 'System'|trans({},'core'),
            icon: 'bi bi-gear-wide-connected',
            link: path('system_index'),
        },
        {
            title: 'Docs'|trans({},'core'),
            icon: 'bi bi-github',
            link: 'https://github.com/JoryHogeveen/KerallConnect',
        },
    ]
}) }}>
    <div id="menu" class="shadow-lg d-flex overflow-hidden flex-column bg-body"></div>
</div>
