{% extends 'base.html.twig' %}

{% block title %}{{ 'Register'|trans({},'core') }}{% endblock %}

{% block content %}
	<h1>{{ 'Register'|trans({},'core') }}</h1>

	{{ form(registrationForm) }}
{% endblock %}
