{% extends 'index.html.twig' %}
{% set maxContentWidth = 800 %}

{% block content %}

	{{ parent() }}

	<div class="btn-toolbar justify-content-center" role="toolbar">
		<div class="me-2 mb-2" role="group">
			<a class="btn btn-primary">primary</a>
			<a class="btn btn-secondary">secondary</a>
			<a class="btn btn-success">success</a>
			<a class="btn btn-warning">warning</a>
			<a class="btn btn-danger">danger</a>
			<a class="btn btn-info">info</a>
		</div>
		<div class="me-2 mb-2" role="group">
			<a class="btn btn-webservice">Webservice</a>
			<a class="btn btn-connection">Connection</a>
			<a class="btn btn-automation">Automation</a>
			<a class="btn btn-flow">Flow</a>
			<a class="btn btn-step">Step</a>
			<a class="btn btn-task">Task</a>
			<a class="btn btn-storage">Storage</a>
		</div>
		<div class="me-2 mb-2" role="group">
			<a class="btn btn-outline-primary">primary</a>
			<a class="btn btn-outline-secondary">secondary</a>
			<a class="btn btn-outline-success">success</a>
			<a class="btn btn-outline-warning">warning</a>
			<a class="btn btn-outline-danger">danger</a>
			<a class="btn btn-outline-info">info</a>
		</div>
		<div class="me-2 mb-2" role="group">
			<a class="btn btn-outline-webservice">Webservice</a>
			<a class="btn btn-outline-connection">Connection</a>
			<a class="btn btn-outline-automation">Automation</a>
			<a class="btn btn-outline-flow">Flow</a>
			<a class="btn btn-outline-step">Step</a>
			<a class="btn btn-outline-task">Task</a>
			<a class="btn btn-outline-storage">Storage</a>
		</div>
	</div>

{% endblock %}
