{% extends 'base.html.twig' %}

{% block title %}{{ 'New automation'|trans({},'core') }}{% endblock %}

{% block body %}
	<h1>{{ 'New automation'|trans({},'core') }}</h1>
	{{ form(form) }}
{% endblock %}
