{% extends 'admin/index.html.twig' %}

{% block title %}{{ 'Edit automation'|trans({},'core') }}{% endblock %}

{% block content %}
	<h1>{{ 'Edit automation'|trans({},'core') }}</h1>
	{{ form(form) }}
{% endblock %}
