{% extends 'admin/index.html.twig' %}

{% block content %}
	<div class="alert alert-danger" role="alert">
		{{ 'This will edit this step for all flows!'|trans({},'core') }}
	</div>
	{{ parent() }}
{% endblock %}
